.outerbox {
    width: 500px;
    overflow: hidden;
}

.sliderbox {
    position: relative;
    width: 2000px;
    animation-name: head-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

    .sliderbox img {
        float: left;
    }

@keyframes head-anim {
    0% {
        left: 0px;
    }

    20% {
        left: -00px;
    }

    25% {
        left: -500px;
    }

    45% {
        left: -500px;
    }

    50% {
        left: -1000px;
    }

    70% {
        left: -1000px;
    }

    75% {
        left: -1500px;
    }

    95% {
        left: -1500px;
    }

    100% {
        left: -2000px;
    }
}

.hovr img:hover {
    transform: scale(1.3);
    z-index: 2;
}



body {
}

.tb1 img:hover {
    transform: scale(1.3);
    z-index: 2;
}

aa {
    color: red;
}

    aa:visited {
        color: red;
    }

    aa:hover, a:active, a:focus {
        color: springgreen;
    }
